body{
    background-color: #e48464;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 1.1;
    margin: 0;
    padding: 0;
    color: #333;
}

.outer-container{
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.inner.container{
    padding: 100px;
    position: relative;
}


.box {
    position: relative;
    top: -400px;
    right: 0;
    left: 100px;
    
}


h1{
    background-color: #82bcdd;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 15px;
    border: 2px solid  #6c1212;
    box-shadow: 0 0 5px #353030;
}




.container1 ul li{

    float: right;
    display: inline-flex;
    margin: 0 10px;

}



h2{
    background-color: #a4a0bc;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    border: 2px solid #6c1515;
    box-shadow: 0 0 5px #353030;
}

h3{
    background-color: #a4a0bc;
    padding: 0px;
    border-radius: 5px;
    margin-bottom: 15px;
    border: 2px solid #6c1515;
    box-shadow: 0 0 5px #353030;
}