h1{
    background-color: #82bcdd;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 15px;
    border: 2px solid  #6c1212;
    box-shadow: 0 0 5px #353030;
}

.container1 ul li{

    float: right;
    display: inline-flex;
    margin: 0 10px;
}



h2{
    background-color: #a4a0bc;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    border: 2px solid #6c1515;
    box-shadow: 0 0 5px #353030;
}